In [33]:
import numpy as np

In [34]:
pokemons = {
    "Pokemon_Height" : np.random.randint(1,100,5),
    "Pokemon_Weight" : np.random.randint(50,150,5),
    "Pokemon_Power" : np.random.randint(200,250,5)
}

In [35]:
pokemons

{'Pokemon_Height': array([21, 93, 46, 96, 34]),
 'Pokemon_Weight': array([ 98, 117, 146,  82, 114]),
 'Pokemon_Power': array([201, 205, 205, 209, 211])}

In [36]:
import pandas as pd

In [37]:
df = pd.DataFrame(pokemons)
print(df)

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              21              98            201
1              93             117            205
2              46             146            205
3              96              82            209
4              34             114            211

In [38]:
df.head()

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              21              98            201
1              93             117            205
2              46             146            205
3              96              82            209
4              34             114            211

In [39]:
df.head(n=3)

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              21              98            201
1              93             117            205
2              46             146            205

In [40]:
print(df.columns)

Index(['Pokemon_Height', 'Pokemon_Weight', 'Pokemon_Power'], dtype='object')

In [41]:
#Create a CSV(Comma Seperated Value) File
df.to_csv('pokemon_data.csv', index = False)

##How to read a data frame

##Kaggle Challenges --> They give CSV Files - you have to read them and then solve

In [42]:
df = pd.read_csv('pokemon_data.csv')

In [43]:
df.head()

   Pokemon_Height  Pokemon_Weight  Pokemon_Power
0              21              98            201
1              93             117            205
2              46             146            205
3              96              82            209
4              34             114            211

In [44]:
df.drop(columns = ['Unnamed: 0']) #worked when we hadn't set index=False while creating the .csv file above

KeyError: "['Unnamed: 0'] not found in axis"

In [45]:
df.shape

(5, 3)